* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url("Image/Track.png");
  background-size: auto;
}
.header .head {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header .head .head-one {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}
.header .head .head-two {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 0 0;
}
.header .head .head-two .two-ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header .head .head-two .two-ul .two-li {
  display: flex;
  align-items: center;
}
.header .head .head-two .two-ul .two-li .link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.header .head .head-two .two-ul .two-li .link2 {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-left: 100px;
}
.header .head .head-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}
.header .head .head-btn .my-button {
  width: 163px;
  height: 58px;
  left: 1677px;
  top: 31px;
  border: none;
  background: #D63E0E;
  border-radius: 36px;
}
.header .head .head-btn .my-button .getlink {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}
.header .block {
  width: 100%;
  height: 91.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .block h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin-right: 650px;
}
.header .block p {
  font-weight: 900;
  font-style: italic;
  font-size: 100px;
  line-height: 84px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-right: 100px;
}
.header .block span {
  margin-left: 130px;
}
.header .block .box {
  margin: 20px 100px 0 0;
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.header .block .box .small {
  width: 163px;
  height: 58px;
  left: 1677px;
  top: 31px;
  background-color: transparent;
  border-radius: 36px;
  border: 1px solid #FFFFFF;
}
.header .block .box .small .getlink {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}
.header .block .box .big {
  width: 220px;
  height: 58px;
  left: 1677px;
  top: 31px;
  background-color: transparent;
  border-radius: 36px;
  border: 1px solid #FFFFFF;
}
.header .block .box .big .getlink {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}
.header .block .box .big .image {
  margin-right: 5px;
}

/*# sourceMappingURL=main.css.map */
